:root {
  --border: 220 14% 96%;
  --input: 220 14% 96%;
  --ring: 220 14% 96%;
  --background: 0 0% 100%;
  --foreground: 222 47% 11%;
  --primary: 340 82% 52%;
  --primary-foreground: 0 0% 100%;
  --secondary: 240 40% 20%;
  --secondary-foreground: 0 0% 100%;
  --destructive: 0 75% 60%;
  --destructive-foreground: 0 0% 100%;
  --muted: 210 16% 82%;
  --muted-foreground: 215 20% 30%;
  --accent: 45 85% 60%;
  --accent-foreground: 0 0% 100%;
  --popover: 0 0% 100%;
  --popover-foreground: 222 47% 11%;
  --card: 0 0% 100%;
  --card-foreground: 222 47% 11%;
  --radius: 0.5rem;
}
